$white: #ffffff;
$lightGreyText: #a1a1a1;
$midGrey: #616161;
$darkGrey: #3e3e3e;
$black: #000000;
$eventDefault: #6d5353;
$characterDefault: #465B3C;
$locationDefault: #47586B;
$factionDefault: #695777;
$scribbleDefault: #9DC5B4;
