// --------------  should have its own page -------------- //
.tags-nav {
    display: flex;
    flex-direction: column;
}

.tags-div-one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tags-div-two {
    display: flex;
    justify-content: center;
}

.filter-tags {
    width: 45%;
    height: 100%;
}

.tags-button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
}

.add-note {
    display: flex;
    align-items: center;
    background-color: $darkestGrey;
    border: none;
    font-size: 5vh;
    font-weight: bold;
}

.add-note-name {
    margin: 1vh;
    font-size: 2vh;
}

.icon {
    height: 4vh;
}

.icon-search {
    height: 2.5vh;
}

.search-tags {
    color: black;
}

// --------------  actual notes component -------------- //
.notes {
    display: flex;
    flex-direction: column;
}
.note-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 60vh;
    width: 100vw;
    overflow-y: scroll;
}

.shadow:after {
    content: "";
    position: absolute;
    bottom: 6vh;
    height: 10%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), $darkestGrey,);
}

.note-content{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.settings-cog {
    height: 3vh;
    background-color: white;
}

